In [1]:
import numpy as np

In [2]:
import pandas as pd

In [1]:
import numpy as np

In [8]:
import numpy as np
import pandas as pd
data = pd.read_csv('Dataset.csv')
df = pd.DataFrame(data)
pd.set_option('display.max_columns',None)
df.describe()

,Unnamed: 0,Hour,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,BaseExcess,HCO3,FiO2,pH,PaCO2,SaO2,AST,BUN,Alkalinephos,Calcium,Chloride,Creatinine,Bilirubin_direct,Glucose,Lactate,Magnesium,Phosphate,Potassium,Bilirubin_total,TroponinI,Hct,Hgb,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel,Patient_ID
count,1.552210e+06,1.552210e+06,1.398811e+06,1.349474e+06,525226.000000,1.325945e+06,1.358940e+06,1.065656e+06,1.313875e+06,57636.000000,84145.000000,65028.000000,129365.000000,107573.000000,86301.000000,53561.000000,25183.000000,106568.000000,24941.000000,91331.000000,70466.000000,94616.000000,2990.000000,265516.000000,41446.000000,97951.000000,62301.000000,144525.000000,23141.000000,14781.000000,137433.000000,114591.000000,45699.000000,99447.000000,10242.000000,92209.000000,1.552210e+06,1.552210e+06,940250.000000,940250.000000,1.552202e+06,1.552210e+06,1.552210e+06,1.552210e+06
mean,2.549274e+01,2.549274e+01,8.458144e+01,9.719395e+01,36.977228,1.237505e+02,8.240010e+01,6.383056e+01,1.872650e+01,32.957657,-0.689919,24.075481,0.554839,7.378934,41.021869,92.654188,260.223385,23.915452,102.483661,7.557531,105.827910,1.510699,1.836177,136.932283,2.646666,2.051450,3.544238,4.135528,2.114059,8.290099,30.794093,10.430833,41.231193,11.446405,287.385706,196.013911,6.200947e+01,5.592690e-01,0.496571,0.503429,-5.612512e+01,2.699499e+01,1.798468e-02,5.920148e+04
std,2.888256e+01,2.888256e+01,1.732524e+01,2.936924e+00,0.770014,2.323156e+01,1.634175e+01,1.395601e+01,5.098194e+00,7.951662,4.294297,4.376504,11.123207,0.074568,9.267242,10.892986,855.746795,19.994317,120.122746,2.433152,5.880462,1.805603,3.694082,51.310728,2.526214,0.397898,1.423286,0.642150,4.311468,24.806235,5.491749,1.968661,26.217669,7.731013,153.002908,103.635366,1.638622e+01,4.964749e-01,0.499989,0.499989,1.622569e+02,2.900542e+01,1.328956e-01,5.024819e+04
min,0.000000e+00,0.000000e+00,2.000000e+01,2.000000e+01,20.900000,2.000000e+01,2.000000e+01,2.000000e+01,1.000000e+00,10.000000,-32.000000,0.000000,-50.000000,6.620000,10.000000,23.000000,3.000000,1.000000,7.000000,1.000000,26.000000,0.100000,0.010000,10.000000,0.200000,0.200000,0.200000,1.000000,0.100000,0.010000,5.500000,2.200000,12.500000,0.100000,34.000000,1.000000,1.400000e+01,0.000000e+00,0.000000,0.000000,-5.366860e+03,1.000000e+00,0.000000e+00,1.000000e+00
25%,9.000000e+00,9.000000e+00,7.200000e+01,9.600000e+01,36.500000,1.070000e+02,7.100000e+01,5.400000e+01,1.500000e+01,28.000000,-3.000000,22.000000,0.400000,7.340000,35.000000,94.000000,22.000000,12.000000,54.000000,7.700000,102.000000,0.700000,0.200000,106.000000,1.260000,1.800000,2.600000,3.700000,0.500000,0.040000,27.000000,9.100000,27.800000,7.600000,184.000000,126.000000,5.168000e+01,0.000000e+00,0.000000,0.000000,-4.705000e+01,1.100000e+01,0.000000e+00,9.990000e+03
50%,1.900000e+01,1.900000e+01,8.350000e+01,9.800000e+01,37.000000,1.210000e+02,8.000000e+01,6.200000e+01,1.800000e+01,33.000000,0.000000,24.000000,0.500000,7.380000,40.000000,97.000000,41.000000,17.000000,74.000000,8.300000,106.000000,0.940000,0.445000,127.000000,1.800000,2.000000,3.300000,4.100000,0.900000,0.300000,30.300000,10.300000,32.400000,10.300000,250.000000,181.000000,6.400000e+01,1.000000e+00,0.000000,1.000000,-6.030000e+00,2.100000e+01,0.000000e+00,1.996500e+04
75%,3.300000e+01,3.300000e+01,9.550000e+01,9.950000e+01,37.500000,1.380000e+02,9.200000e+01,7.200000e+01,2.150000e+01,38.000000,1.000000,26.800000,0.600000,7.430000,45.000000,98.000000,111.000000,28.000000,108.000000,8.700000,109.000000,1.430000,1.700000,153.000000,3.000000,2.200000,4.100000,4.400000,1.700000,3.980000,34.100000,11.700000,42.800000,13.800000,349.000000,244.000000,7.400000e+01,1.000000e+00,1.000000,1.000000,-4.000000e-02,3.400000e+01,0.000000e+00,1.098780e+05
max,3.350000e+02,3.350000e+02,2.800000e+02,1.000000e+02,50.000000,3.000000e+02,3.000000e+02,3.000000e+02,1.000000e+02,100.000000,100.000000,55.000000,4000.000000,7.930000,100.000000,100.000000,9961.000000,268.000000,3833.000000,27.900000,145.000000,46.600000,37.500000,988.000000,31.000000,9.800000,18.800000,27.500000,49.600000,440.000000,71.700000,32.000000,250.000000,440.000000,1760.000000,2322.000000,1.000000e+02,1.000000e+00,1.000000,1.000000,2.399000e+01,3.360000e+02,1.000000e+00,1.200000e+05

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1552210 entries, 0 to 1552209
Data columns (total 44 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Unnamed: 0        1552210 non-null  int64
 1   Hour              1552210 non-null  int64
 2   HR                1398811 non-null  float64
 3   O2Sat             1349474 non-null  float64
 4   Temp              525226 non-null   float64
 5   SBP               1325945 non-null  float64
 6   MAP               1358940 non-null  float64
 7   DBP               1065656 non-null  float64
 8   Resp              1313875 non-null  float64
 9   EtCO2             57636 non-null    float64
 10  BaseExcess        84145 non-null    float64
 11  HCO3              65028 non-null    float64
 12  FiO2              129365 non-null   float64
 13  pH                107573 non-null   float64
 14  PaCO2             86301 non-null    float64
 15  SaO2              53561 non-null    float64
 16  AST               25183 non-null    float64
 17  BUN               106568 non-null   float64
 18  Alkalinephos      24941 non-null    float64
 19  Calcium           91331 non-null    float64
 20  Chloride          70466 non-null    float64
 21  Creatinine        94616 non-null    float64
 22  Bilirubin_direct  2990 non-null     float64
 23  Glucose           265516 non-null   float64
 24  Lactate           41446 non-null    float64
 25  Magnesium         97951 non-null    float64
 26  Phosphate         62301 non-null    float64
 27  Potassium         144525 non-null   float64
 28  Bilirubin_total   23141 non-null    float64
 29  TroponinI         14781 non-null    float64
 30  Hct               137433 non-null   float64
 31  Hgb               114591 non-null   float64
 32  PTT               45699 non-null    float64
 33  WBC               99447 non-null    float64
 34  Fibrinogen        10242 non-null    float64
 35  Platelets         92209 non-null    float64
 36  Age               1552210 non-null  float64
 37  Gender            1552210 non-null  int64
 38  Unit1             940250 non-null   float64
 39  Unit2             940250 non-null   float64
 40  HospAdmTime       1552202 non-null  float64
 41  ICULOS            1552210 non-null  int64
 42  SepsisLabel       1552210 non-null  int64
 43  Patient_ID        1552210 non-null  int64
dtypes: float64(38), int64(6)
memory usage: 521.1 MB

In [5]:
df['HCO3'].isna().sum()

1487182

In [6]:
df['Lactate'].isna().sum()

1510764